@font-face {
  font-family: Irish Grover;
  src: url(../font/Irish_Grover\,Island_Moments);
}
@font-face {
  font-family: Island Moments;
  src: url(../font/Irish_Grover\,Island_Moments);
}

html{
  scroll-behavior: smooth;
}

:root {
  --clr-red:#E82519;
  --clr-lightred:#F94F46;
  --clr-lightblue:#21A0AA;
  --clr-header-txt:#1D1D1D;
  --clr-paragraph:#444444;
  --clr-card-bg:#F4F4F4;
  --primary-color:#fff;
  }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } 

strong {
  color: var(--clr-lightred);
} 
b {
  color: var(--clr-lightblue);
}
a {
  text-decoration: none;
}


.collapse {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}

li {
  position: relative;
}

ul li a {
  color: var(--clr-paragraph);
  font-size: 14px;
}

ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-lightred);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

form {
  width: 40%;
}
form img{
  z-index: 2;
  padding: 8.5px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons img:nth-child(2){
  width: 40px;
  height: 40px;
}

.container {
  width: 100%;
  height: 100vh;
}

.block{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.order__food {
  width: 100%;
  height: 70%;
  background: linear-gradient(94.04deg, #B3B3B3 0%, #1D1D1D 100%);
  border-radius: 5px;
  position: relative;
  color: var(--primary-color);
}

.img1{
  position: absolute;
  bottom: 0;
}
.img2{
  position: absolute;
  bottom: 150px;
  right: 0;
}
.img3{
  position: absolute;
  bottom: 230px;
  right:360px;
}
.img4{
  position: absolute;
  bottom: -4px;
  right:550px;
}
.img5{
  position: absolute;
  top: -44px;
  right:40px;
}

.order__txt{
  position: absolute;
  top: 25%;
  left: 15%;
  font-family: 'Irish Grover';
  transform: translate(-25%,-15%);
  width:33%;
}
.order__txt h1 {
  font-size: 55px;
  letter-spacing: 2px;
}
.order__txt p{
  font-size: 17px;
}

.block2{
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}

.filter{
  width: 45%;
  height: 72%;
  background-color: var(--clr-card-bg);
  border-radius: 5px;
}
.filter__header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.line{
  border-bottom: 4px solid var(--clr-lightblue);
  width: 93%;
  margin: 0 auto;
}

.form{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.form label {
  margin-left: 66px;
  font-weight: 600;
}

.form input{
  width: 80%;
  height: 58px;
  padding-left: 20px;
  margin: 13px auto;
  border-radius: 5px;
  border: none;
}
.check {
  width: 80%;
  margin: 14px auto;
  display: flex;
  gap: 15px;
}
.check input {
  width: 17px;
}
.check span{
  letter-spacing: 1.4px;
}
.filter h5{
  margin-left: 60px;
  margin-top: 20px;
}
.num-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}
.two-line{
  width: 80%;
  border-bottom: 3px solid var(--clr-lightblue);
  margin:40px auto;
}


.hungry__page {
  width: 60%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}
.header select{
  width: 157px;
  height: 32px;
  text-align: center;
  border: none;
  background: linear-gradient(var(--clr-card-bg), #757575);
}
.food-images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 35px 15px;
  width: 100%;
}

.images{
  position: relative;
  top: 0;
  left: 0;
}


.food-image {
  position: relative;
  top: 0;
  left: 0;
}

.heart__img {
  position: absolute;
  top: 30px;
  right: 30px;
}

.type_wrapper {
  width: 195px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.type {
  text-align: start;
  width: 60%;
  line-height: 0px;
}
.type h6 {
  color: var(--clr-paragraph);
}
.number {
  text-align: end;
}
.number p {
  font-size: 14px;
  color: var(--clr-lightred);
}
.number .menu-btn {
  width: 71px;
  height: 27px;
  background-color: var(--clr-paragraph);
  color: var(--primary-color);
  border-radius: 5px;
  margin-top: 5px;
  border: transparent;
  transition: all .8s ease-in;
}
.number .menu-btn:hover {
  transform: scale(1.3);
  background-color: var(--clr-red);
}

.footer-order{
  width: 100%;
  height: 154px;
  background-color: var(--clr-lightblue);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  border-radius: 5px;
  color: var(--primary-color);
}

.footer-order h1{
  font-size: 25px;
  width: 34%;
}

.footer-order .footer-order__btn{
   width: 179px;
   height: 45px;
   border: 1px solid lightgray;
   border-radius: 5px;
}

footer {
  width: 100%;
  height: 100vh;
  margin-top: 940px;
  background-color: var(--clr-card-bg);
  background-image: url(./footer-background-map.svg);
  position: relative;
 }

 .wrapper {
  position: absolute;
  top: 25%;
  left: 15%;
 }
 .wrapper h1 {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 2px;
 }
 .wrapper p{
  max-width: 60ch;
  margin: 15px 0;
 }

.input-group {
  width: 20%;
  height: 439px;
  position: absolute;
  right: 40px;
  top: -70px;
  border: 2px solid rgba(211, 211, 211, 0.296);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  line-height: 2.7;
}

 .input-group span {
   font-weight: 500;
 }

input, textarea {
  width: 80%;
  padding:0 20px;
  border: 2px solid lightgrey;
}

.submitBtn {
  width: 70%;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: var(--primary-color);
  border: none;
  margin: 35px 0;
  transition: all .8s ease-in;
}
.submitBtn:hover{
  transform: scale(1.2);
  background-color: aqua;
}

.footer-link-card {
  position: absolute;
  bottom: 20px;
  display: flex;
  right: 160px;
  width: 80%;
  height: 320px;
  background-color: var(--primary-color);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.footer-nav p{
  max-width: 60ch;
}

.footer-links {
  width: 25%;
  display:grid;
}

.footer-links h1{
  font-size: 18px;
  color: var(--clr-lightblue);
  margin-top: 20px;
  margin-left: 70px;
}

.footer-links a{
  color: var(--clr-header-txt);
  margin-left: 70px;
  text-decoration: none;
}



@media screen and (max-width:475px) {
    .filter {
      width: 100%;
    }  
    .hungry__page {
      width: 100%;
      border: 2px solid red;
    }
   .food-images {
    width: 100%;
    border: 1px solid lime;
   }
}